<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/js/index.js"></script>
<h1>Bienvenidos al chat!</h1>
<div>
    <input type="text" name="chat-input" id="chat-input">
</div>
<div>
    <p id="messages"></p>
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>